@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700&display=swap');
:root{
   --White: hsl(0, 0%, 100%);
   --Pale-blue: hsl(221, 100%, 96%);
   --Light-lavender: hsl(241, 100%, 89%);
   --Dark-gray-blue: hsl(224, 30%, 27%);

}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
   font-family: 'Hanken Grotesk', sans-serif;
   font-weight: bold;
}
.container{
   position: absolute;

   display: flex;
   justify-content: center;
   align-items: center;
   background: white;
   border-radius: 25px;
   left: 25%;
   top: 25%;
   box-shadow: 5px 5px 30px black;
}
.result-container{
   height: 25em;
   width: 20em;
   background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 3em 2em;
   color: white;
}
.result-container p{
   color: var(--Light-lavender);
   text-align: center;
}
.score-num{
   width: 8em;
   height: 8em;
   border-radius: 50%;
   background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0;
   font-size: 1.3em;
}

.summary-container{
   height: 25em;
   width: 20em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 2em 2em;
   color: var(--Dark-gray-blue);

}
.summary-container h2{
   width: 100%;
   padding-left: .5em;
}
.score-category{
   width: 15em;
}
.scores{
   display: flex;
   padding: .8em .4em;
   border-radius: 10px;
   margin: 1em 0em;
   background: #FFF6F5;
   position: relative;
}
.category{
   padding-left: .5em;
}
.number{
   position: absolute;
   display: flex;
   right: 1.5em;
}
button{
   background-color: var(--Dark-gray-blue);
   color: var(--White);
   border-radius: 25px;
   width: 18em;
   height: 3em;
   font-weight: bold;
}

@media (max-width: 768px){
   .container{
      left: 75px;
      top:50px;
   }
}
@media (max-width: 375px){
   .container{
      left: 35px;
      flex-direction: column;
   }
}